<% event ||= @event %>

<article class="<%= "unpublished" unless event.published? || !highlight_unpublished %> <%= "small" if small %>">
	
	<% unless event.published? || !highlight_unpublished %>
		<span class='warning'>
				Unpublished 
				<%= link_to 'Edit', edit_event_path(event), :class => 'button white medium' %>
		</span>
	<% end %>
	
	<div class='calendar'>
		<strong><%= event.start_date.strftime("%d") %></strong>
		<%= event.start_date.strftime("%b").downcase %>
	</div>
	
		
	<header>
		<% class_name = event.ended? ? "faded" : "" %>
		<%= link_to event.title, event, :class => class_name %>
		<% unless event.url.blank? || small %><%= link_to event.url, event.url, :class => "small" %><% end %>
	</header>
	<time datetime="<%= event.start_date.strftime("%Y-%m-%dT%T%z") %>" pubdate>
	  <%= event.date_range %>
	</time>
	
	<% unless small %>
		<%= render :partial => "events/description", :locals => {:event => event} unless event.ended? && !event.review.blank?  %>
		<%= render :partial => "events/review", :locals => {:event => event} if event.ended? && !event.review.blank?  %>
	  
		<%= render :partial => "events/map", :locals => {:event => event} unless event.address.blank?  %>
		<%= render :partial => "events/signup", :locals => {:event => event} unless event.started? || event.signup_url.blank? %>
		
		<%= render :partial => "events/event_controls", :locals => {:event => event}  if admin? %>
	<% end %>

</article>