<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Event name" %>
  </div>
  <%= render :partial => 'markdown_info' %>
  <div class="field">
    <%= f.text_area :description, :placeholder => 'Event description...' %>
  </div>
  <div class="field">
		<%= f.label :url, "Optional event URL" %>
    <%= f.text_field :url, :placeholder => "http://" %>
  </div>
	<% if !@event.new_record? && @event.ended? %>
	<hr/>
	<header>Review</header>
	<%= render :partial => 'markdown_info' %>
  <div class="field">
    <%= f.text_area :review, :placeholder => 'Event review...' %>
  </div>
	<% end %>
	<hr/>
	<header>Venue</header>
	<div class="field">
    <%= f.text_field :venue, :placeholder => "Venue name"  %>
  </div>
  <%= render :partial => 'markdown_info' %><br/>
	<span class='info'>
		This address will be turned into a Google map
	</span>
  <div class="field">
    <%= f.text_area :address, :placeholder => 'Address', :class => 'low' %>
  </div>
	<hr/>
	<header>Date</header>


  <div class="field">
    <%= f.text_field :start_date, :class => 'datepicker', :placeholder => "End date", :value => (@event.start_date.blank? ? '' : @event.start_date.strftime('%Y-%m-%d %H:%M')) %>
  </div>
  <div class="field">
    <%= f.text_field :end_date, :class => 'datepicker', :placeholder => "Start date", :value => (@event.end_date.blank? ? '' : @event.end_date.strftime('%Y-%m-%d %H:%M')) %>
  </div>
  <div class="field">
    <%= f.check_box :all_day_event %> <%= f.label :all_day_event, "All day event (hide times)", :class => 'inline' %>
  </div>
	<hr/>
	<header>Signup URL</header>
	<span class='info'>
		If you provide an <a href='http://eventbrite.com'>Eventbrite</a> URL here it will integrate the ticketing for you.
	</span>
  <div class="field">
    <%= f.text_field :signup_url, :placeholder => 'http://' %>
  </div>
	<hr/>
  <div class="controls">
		<% unless @event.new_record? %>
	  	<%= link_to '&larr;	Back'.html_safe, @event, :class => "button medium white left" %>
	  	<%= link_to 'Delete', @event, confirm: 'Are you sure?', method: :delete, :class => 'button gray medium left' %>
		<% else %>
			<%= link_to '&larr;	Back'.html_safe, root_url, :class => "button medium white left" %>
		<% end %>

		<% if @event.new_record? %>
			<%= f.submit(:class => 'button medium green', :value => 'Save event') %>
			<%= f.submit(:class => 'button medium orange', :value => 'Publish') %>
		<% elsif !@event.published? %>
			<%= f.submit(:class => 'button medium green', :value => 'Update event') %>
			<%= f.submit(:class => 'button medium orange', :value => 'Publish') %>
		<% else %>
			<%= f.submit(:class => 'button medium orange', :value => 'Unpublish') %>
			<%= f.submit(:class => 'button medium green', :value => 'Update event') %>
		<% end %>

  </div>
<% end %>
