<section>
	
	<% if params[:past] %>
		<header>
			<%= "Past #{Settings.get("events:title")}" %> | 
			<%= link_to  "Upcoming #{Settings.get("events:title")}", events_path, :class => 'light' %> 
		</header>
	<% else %>
		<header>
			<%= Settings.get("events:title") %> |
			<%= link_to "Past #{Settings.get("events:title")}", "/events?past=true", :class => 'light' if Event.published.past.count > 0 %>
		</header>
	<% end %>
	
	<%= render :partial => @events, :locals => {:show_nav => true, :highlight_unpublished => true, :small => true} %>
	
	<%= will_paginate @events %>

</section>