<section>
	
	<header>
		<%= @events.first.ended? ? "Past" : "Upcoming" %> <%= Settings.get("events:title").downcase %>
	</header>
	
	<% past = false %>
	<% @events.each do |event| %>
		<% if event.ended? && !past && !@events.first.ended?  %>
			<% past = true %>
			<header>Past <%= Settings.get("events:title").downcase %></header>
		<% end %>
		<%= render :partial => event, :locals => {:show_nav => true, :highlight_unpublished => true, :small => true} %>
	<% end %>
	<%= will_paginate @events %>

</section>