<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= Settings.get('title', 'Bloody CMS') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
	<%= javascript_include_tag "jquery.ui.datetimepicker.min.js" %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
	<%= content_tag :link, nil, :rel => 'alternate', :type => 'application/rss+xm', :title => "#{Settings.get('blog:title')} RSS", :href => posts_url(:rss) if Settings.get('blog:enabled?') %>
	<%= content_tag :link, nil, :rel => 'alternate', :type => 'application/rss+xm', :title => "#{Settings.get('events:title')} RSS", :href => events_url(:rss) if Settings.get('events:enabled?') %>
</head>
<body class="<%= body_classes.join(' ') %>">
	
<%= render :partial => 'controls_header' %>
<%= render :partial => 'header' %>
<%= render :partial => 'flash_messages' %>
<%= render :partial => 'navigation' %>
<%= render :partial => 'sponsors' if Settings.get('sponsors:enabled?') %>

<%= yield %>
<%= render :partial => 'footer' %>


</body>
</html>
