<!DOCTYPE html>
<html>
<head>
  <title>Bloodycms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes.join(' ') %>">

<%= render :partial => 'controls_header' %>
<%= render :partial => 'flash_messages' %>

<%= yield %>

</body>
</html>
