<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= CONFIG['title'] %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<%= content_tag :link, nil, :rel => 'alternate', :type => 'application/rss+xm', :title => 'RSS', :href => posts_url(:rss) if CONFIG['blog']['enabled'] %>

</head>
<body class="<%= body_classes.join(' ') %>">
	
<%= render :partial => 'controls_header' %>
<%= render :partial => 'header' %>
<%= render :partial => 'flash_messages' %>
<%= render :partial => 'aside1' %>
<%= render :partial => 'aside2' %>


<%= yield %>

<%= render :partial => 'footer' %>


</body>
</html>
